---
layout: base.njk
pagination:
  data: collections.categoryList
  size: 1
  alias: category
permalink: "/kategori/{{ category.slug }}/index.html"
eleventyComputed:
  title: "{{ category.name }}"
---
<p class="breadcrumb"><a href="/">Beranda</a></p>
<h1>{{ category.name }}</h1>
<ul class="note-list">
  {% for note in category.notes %}
  <li>
    <a href="{{ note.url }}">{{ note.data.title }}</a>
    <span class="meta">{{ note.data.date | readableDate }}</span>
  </li>
  {% endfor %}
</ul>
